/target
Cargo.lock.orig
*.swp
/reference/
/test/teamspeak3-server/teamspeak3-server_linux_amd64/ts3server.sqlitedb
/test/teamspeak3-server/teamspeak3-server_linux_amd64/ts3server.sqlitedb.*
/test/teamspeak3-server/teamspeak3-server_linux_amd64/logs/
/test/teamspeak3-server/teamspeak3-server_linux_amd64/.ts3server_license_accepted
/test/teamspeak3-server/teamspeak3-server_linux_amd64/query_ip_blacklist.txt
/test/teamspeak3-server/teamspeak3-server_linux_amd64/query_ip_whitelist.txt
